.header{
    color: #32b9cd;
    border-bottom: 3px solid #32b9cd;
    /* border: 3px solid yellow; */
}

body{
    margin: 0;
    background-color: black;
    font-family: monospace;
}

.container{
    width: 80%;
    margin: auto;
    /* border: 3px solid red; */
}

.header .container{
    display: flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    width: 600px;
    align-items: center;
    color: #E3b062;
    /* border: 3px solid blue; */
}

.agora{
    font-weight: 1000;
}

.banner{
    height: 500px;
    background-image: url(imgs/bg-jelly-fish-para-home.png);
    background-size: cover;
}

.banner .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner .container p{
    width: 280px;
    margin: 0;
    padding: 0;
    font-size: 36px;
}

.banner span{
    font-weight: bolder;
}

li a{
    text-decoration: none;
    color: #E3b062;
}

.form-box{
    display: flex;
    flex-direction: column;
}

input{
    height: 30px;
    border: 2px solid #32b9cd;
    border-radius: 10px;
}

.buttons{
    border: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}

.btn{
    font-family: monospace;
    border: 0;
    padding: 0;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 18px;
    color: white;
    background-color: #e6005a;
    align-self: center;
    width: 120px;
    height: 30px;
    cursor: pointer;
    margin-right: 10%;
}

.btn2{
    font-family: monospace;
    border: 3px solid #e6005a;
    padding: 0;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 18px;
    color: #e6005a;
    background-color: white;
    align-self: center ;
    width: 120px;
    height: 30px;
}

.banner .card{
    background-color: #e5e5e5;
    height: 450px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #e6005a;
    font-weight: bolder;
    font-family: monospace;
}

/*//////////////////////////////////////////////////////////////////////////////////*/

.social{
    background-color: #e5e5e5;
    padding: 50px;
    
}

.social .container{
    display: flex;
    justify-content: space-evenly;
}

.box{
    display: flex;
    width: 30%;
    text-align: center;
    flex-direction: column;
}

.box img{
    height: 100px;
    width: 100px;
    align-self: center;
}

.box h4{
    color: #e6005a;
}

.box p{
    color: black;
}

/*//////////////////////////////////////////////////////////////////////////////////*/

.h1{
    color: #32b9cd;
    align-self: center;
}

.social2{
    padding: 0px;
    border: 0;
}

.social2 .container1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-box2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.flex-box2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box2{
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    
}

.box2 img{
    align-self: center;
}

.box2 p{
    color: #E3b062;
}

.button2{
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100px;
}

.button2 .btn{
 width: 200px;
}

/*//////////////////////////////////////////////////////////////////////////////////*/

.footer{
    background-color: #32b9cd;
    height: 150px;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer .container{
    display: flex;
    justify-content: center;
}

.footer h4{
    margin: 0;
    padding: 0;
}